.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
footer {
    position: relative;
    margin-bottom: 20px;
}
body, .card-text, .login-title {
    font-family: 'Inter', sans-serif;
}
.cancel-button {
    border: 0px solid #e75d5d !important; /* Cambia el borde a rojo */
    outline: none !important;
    box-shadow: none !important;
}

.cancel-button:focus,
.cancel-button:active {
    border: 0px solid #e75d5d !important; /* Mantiene el borde rojo al hacer clic */
    outline: none !important;
    box-shadow: none !important;
}

.login-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.login-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.login-image {
    width: 960px;
    height: 261px;
    display: block;
    margin: 0 auto;
}

.login-subtitle {
    text-align: center;
    font-weight: 700;
}

.login-form {
    width: 45%;
    margin: 0 auto;
}

.login-form input {
    height: 45px;
    border-radius: 0px;
    background-color: #d9d9d9;
    color: black;
}

.login-button {
    width: 100%;
 color: white;
    font-weight: 650;
    border-radius: 0px;
    margin-top: 20px;
}

.cancel-button {
    width: 100%;
    background-color: #e75d5d;
    color: black;
    font-weight: 650;
    border-radius: 0px;
    margin-top: 20px;
}

.login-footer {
    margin-top: 90px;
    text-align: center;
}

.error-message {
    text-align: left; /* Alinea el texto a la izquierda */
}
input[type="password"] {
    -webkit-text-security: disc; /* Cambia los puntos por asteriscos */
}