.StandardTable thead th {
    background: #333a40;
    color: rgb(255, 255, 255);
    table-layout: auto; 
}
.StandardTable tbody tr {
    border-bottom: 1px solid #ddd; 
}

.StandardTable th, .StandardTable td {
    padding: 10px; 
    min-width: 160px; 
}
body, .card-text, .login-title {
    font-family: 'Inter', sans-serif;
}
.card-text {
    font-family: 'Inter', sans-serif;
    font-size: 95%;
    letter-spacing: 0%;
}
footer {
    color: black;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px; 

}
.loginn-footer {
    margin-top: 30px;
    text-align: center;
    
    
}
.StandardTable {
    text-align: left; 
}

