.StandardTable thead th {
    background: #333a40;
    color: rgb(255, 255, 255);
    table-layout: auto; 
}
.StandardTable tbody tr {
    border-bottom: 1px solid #ddd; 
}

.StandardTable th, .StandardTable td {
    padding: 10px; 
    min-width: 160px; 
}
body, .card-text, .login-title {
    font-family: 'Inter', sans-serif;
}
.card-text {
    font-family: 'Inter', sans-serif;
    font-size: 95%;
    letter-spacing: 0%;
}
footer {
    color: black;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px; 

}
.loginn-footer {
    margin-top: 30px;
    text-align: center;
    
    
}
.StandardTable {
    width: 100%; 
    text-align: left; 
    table-layout: fixed;
}

.StandardTable th:first-child,
.StandardTable td:first-child {
    width: 55px; 
    min-width: 50px;
    max-width: 70px;
    text-align: center;
}

.StandardTable th:nth-child(2),
.StandardTable td:nth-child(2) {
    width: 25%;
}
.StandardTable th:nth-child(3),
.StandardTable td:nth-child(3) {
    width: 25%;
}